{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:testing-library/react",
    "plugin:jest/all"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015,
    "allowImportExportEverywhere": true,
    "requireConfigFile": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2021": true
  }
}
